* {
    box-sizing: border-box;
}

body {
    align-items: center;
}

#grid, #horizontal-square {
    gap:1px;
}

#grid-creator {
    width: 100px;
    padding: 20px 0;
}

#grid {
    width:400px;
    height:400px;
    border:5px solid black;
    margin:1rem auto;
    background-color: black;
}

body, #grid, #horizontal-square {
    display:flex;
}

body, #horizontal-square {
    flex-direction:column;
}

#horizontal-square {
    flex:1;
}

#vertical-square {
    flex-basis:100px;
    background-color: white;
}