* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-creator {
    width: 100px;
    padding: 20px 0;
}

#grid {
    width:400px;
    height:400px;
    border:5px solid black;
    margin:1rem auto;
}